/vendor/
node_modules/
npm-debug.log
yarn-error.log
.idea/
.phpstorm.meta.php
_ide_helper.php
.rnd
laradock

public/storage
public/hot
storage/*.key
.env
.phpunit.result.cache

.DS_Store

# Thumbnails
._*

temp
public